.ea-detail .field-group.field-boolean {}
.ea-detail .field-group.field-boolean .field-label {
    margin: 0 0 0 15px;
    text-align: left;
}
.ea-detail .field-group.field-boolean .field-value {
    min-width: 0;
    text-align: left !important;
    width: 130px;
}