# Used by nginx
SERVER_NAME=localhost

# Used by docker-compose
VERSION=
UNT_BASE_URI=./
MARIADB_DB=
MARIADB_PASS=

# Used by symfony
APP_ENV=dev
APP_SECRET=
MAILER_DSN=smtp://127.0.0.1:1025
UNT_SENDER_EMAIL=
DATABASE_URL="mysql://root:${MARIADB_PASS}@127.0.0.1:3306/${MARIADB_DB}?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
SOLR_BASE_URL=http://127.0.0.1:8983/
SOLR_DEFAULT_CONF=/opt/solr/server/solr/configsets/untconfig
LOCK_DSN=flock

# Removed as they seemed unused
# APP_PORT=80
