APP_ENV=dev
APP_PORT=80
MARIADB_DB=unt_db
MARIADB_PASS=unt_ssl
SERVER_NAME=localhost
APP_SECRET=91ea64b9111c5744f5df8dbe1e4d9efb
DATABASE_URL="mysql://root:unt_ssl@127.0.0.1:3306/unt_db?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=smtp://127.0.0.1:1025
SOLR_BASE_URL=http://127.0.0.1:8983/
SOLR_DEFAULT_CONF=/opt/solr/server/solr/configsets/untconfig
LOCK_DSN=flock

UNT_BASE_URI=./
WORDPRESS_USER=root
