@font-face {
    font-family: 'poppins-regular';
    src:  url('./fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins-bold';
    src:  url('./fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'poppins-semibold';
    src:  url('./fonts/Poppins-SemiBold.ttf');
}
:root {
    --font-family-sans-serif: 'poppins-regular';

    font-weight: 400;
    font-feature-settings: 'lnum';
    font-variant-numeric: lining-nums;
    letter-spacing: -0.0415625em;

    --body-max-width: 1960px;
    /*--sidebar-max-width: 210px;
    --white: rgb(240, 241, 252); hsl(30, 1%, 90%);
    --gray-300: rgb(70, 78, 79);*/
    --color-primary: rgb(26, 35, 126);
    --bs-blue: rgb(26, 35, 126);
    --color-secondary: rgb(22, 130, 125);

    --secondary-bg: var(--color-secondary);
    --primary-bg: var(--gray-300);
    --body-bg: var(--white);
}
